<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="background: #404040; border-radius: 4px 4px 0 0; color: #FFFFFF">
      <button type="button" class="close" data-dismiss="modal" style="color: #FFFFFF; text-shadow: 0 1px 0 #FFF;">&times;</button>
      <!-- <h4><span class="fa fa-plus"></span> Thing Category</h4> -->
      <h1 class="page-title" style="margin:0px">
        <i class="<%= t("activerecord.models.thing_category.fa_icon", default: '') %>"></i>
        <%= t("activerecord.models.thing_category.one") %> <span style="color:#CACACA">> <%= t("activerecord.actions.new") %> </span>
      </h1>
    </div>
    <%= simple_form_for @thing_category || locals[:instance], html: {class: 'form-horizontal'}, remote: true,
                        wrapper: :horizontal_form,
                        wrapper_mappings: {
                                check_boxes: :horizontal_radio_and_checkboxes,
                                radio_buttons: :horizontal_radio_and_checkboxes,
                                file: :horizontal_file_input,
                                boolean: :horizontal_boolean
                        } do |f| %>
        <div class="modal-body" style="padding:40px 50px;">
          <div class="form-inputs">
            <%= f.input :name %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <a class="btn btn-default btn-sm" href="#" data-dismiss="modal"><i class="fa fa-cancel"></i> <%= t('simple_form.buttons.cancel') %>
            </a>
            <button type="submit" class="btn btn-primary btn-sm">
              <i class='fa fa-check-circle'></i> <%= t('simple_form.buttons.create') %></button>
          </div>
        </div>
    <% end %>
  </div>
</div>
