<%= form_for @new_comment do |f| %>
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <%= f.text_area :body, class: 'form-control mentions', placeholder: t('simple_form.placeholders.write_a_comment') %>
    <div class="margin-top-10">
      <%= submit_tag t('simple_form.buttons.post_comment'), class: 'btn btn-sm btn-primary pull-right' %>
      <br><br>
    </div>
<% end %>
<script type="text/javascript">
  $('.new_comment').addClass('well');
</script>
