<section id="widget-grid">
  <div class="row">

    <!-- Nuevo show ahora con divs, ya no existe tabla -->
    <article class="col-sm-6">
      <!-- Widget ID (each widget will need unique ID)-->
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header>
          <span class="widget-icon"><i class="fa fa-binoculars"></i></span>
          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), things_path, class: 'btn btn-primary' %>
            <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_thing_path(@thing), class: 'btn btn-primary' if can?(:update, Thing) %>
          </div>
        </header>
        <!-- widget div-->
        <div class="no-padding">
          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
          </div>
          <!-- end widget edit box -->
          <!-- widget content -->
          <div class="widget-body">

            <div class="form-group">

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.name') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.name %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.category') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.thing_category.try(:name) %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.thing_parts') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.thing_parts.map(&:name).join(', ') %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.thing_contacts') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.thing_contacts.map(&:name).join(', ') %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.age') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.age %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.price') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.price ? number_to_currency(@thing.price, unit: '') : nil %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.expires') %></strong></label>
                <div class="col-lg-9 details-data"><%= l(@thing.expires, :format => :long) if @thing.expires %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.discharged_at') %></strong></label>
                <div class="col-lg-9 details-data"><%= l(@thing.discharged_at, :format => :long) if @thing.discharged_at %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.description') %></strong></label>
                <div class="col-lg-9 details-data">
                  <div class="mentions" contenteditable>
                    <%= @thing.description %>
                  </div>
                </div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.published') %></strong></label>
                <div class="col-lg-9 details-data"><%= boolean_check_mark(@thing.published) %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.gender') %></strong></label>
                <div class="col-lg-9 details-data"><%= @thing.gender %></div>
              </div>

              <div class="row show-details" >
                <label class="col-lg-3 col-md-4 control-label"><strong>Imágenes</strong></label>
                <div class="col-lg-9 details-data"><% @thing.thing_attaches.each do |attach| %>
                  <p class="form-control-static"><%= image_tag attachment_url(attach, :file, :fill, 100, 100) %></p>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
          <!-- end widget content -->
        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->
    </article>
    <!-- Fin nuevo show -->

  </div>
</section>

<%= render partial: "comments/template", locals: {commentable: @thing, new_comment: @new_comment} %>
<%= javascript_include_tag 'mentions' %>

<script type="text/javascript">
  $('.show-details:even').addClass('striped-div');
</script>
