<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12">
      <div class="jarviswidget <%= @filter_active ? 'jarviswidget-color-redLight' : 'jarviswidget-color-darken' %>" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false">
        <header>
          <span class="widget-icon"><i class="fa fa-table"></i></span>

          <h2><%= @filter_active ? t('simple_form.buttons.filtering') : '' %></h2>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_project_path, class: 'btn btn-primary' if (can? :create, Project) %>
            <a href="javascript:void(0)" data-target="#filter-wid-id-0" id="filtrar" role="button" class="filter-button btn btn-primary"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-0" style="display:none;">
            <div class="col-xs-12"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[name_cont]"><%= t('simple_form.labels.defaults.name') %></label>
                        <%= f.search_field :name_cont, label: false, class: "form-control input-sm" %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[description_cont]"><%= t('simple_form.labels.defaults.description') %></label>
                        <%= f.search_field :description_cont, label: false, class: "form-control input-sm" %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[price_gteq]"><%= t('simple_form.labels.defaults.price') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :price_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :price_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[status_cont]"><%= t('simple_form.labels.defaults.status') %></label>
                        <%= f.select :status_eq, options_for_select(Project::STATUS_TYPES, @q.status_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                    </div>
                    <div class="row pull-right">
                      <div class="col-sm-12">
                        <%= render 'shared/submit_filters' %>
                      </div>
                    </div>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :name, t('simple_form.labels.defaults.name')) %></th>
                <th><%= sort_link(@q, :price, t('simple_form.labels.defaults.price')) %></th>
                <th><%= sort_link(@q, :status, t('simple_form.labels.defaults.status')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @projects.each do |project| %>
                  <tr>
                    <td><%= project.name %></td>
                    <td align='right'><%= project.price ? "$ #{number_to_currency(project.price, unit: '')}" : nil %></td>
                    <td><%= project.i18n_status %></td>
                    <td class="table-actions">
                      <%= render 'shared/action_icons', locals: {target: project} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="widget-footer">
            <%= render 'shared/pagination', locals: {target: @projects, model_index_path: projects_path} %>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

