<section id="widget-grid">
  <div class="row">

    <!-- Nuevo show ahora con divs, ya no existe tabla -->
    <article class="col-sm-6">

      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), projects_path, class: 'btn btn-primary' %>
            <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_project_path(@project), class: 'btn btn-primary' if can?(:update, @project) %>
          </div>
        </header>
        <!-- widget div-->
        <div class="no-padding">

          <!-- widget content -->
          <div class="widget-body">

            <div class="form-group">
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.name') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @project.name %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.description') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @project.description %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.price') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @project.price ? "$ #{number_to_currency(@project.price, unit: '')}" : nil %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.status') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @project.i18n_status %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <!--
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-info"></i></span>
          <h2>Details</h2>
        </header>
        <div class="no-padding">
          <div class="widget-body">

          </div>
        </div>
      </div>
    </article>
    -->
  </div>
</section>

