<section id="widget-grid">
  <div class="row">

    <!-- Nuevo show ahora con divs, ya no existe tabla -->
    <article class="col-sm-6">

      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), expenses_path, class: 'btn btn-primary' %>
            <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_expense_path(@expense), class: 'btn btn-primary' if can?(:update, @expense) %>
          </div>
        </header>
        <!-- widget div-->
        <div class="no-padding">

          <!-- widget content -->
          <div class="widget-body">

            <div class="form-group">
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.project') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @expense.project.try(:name) %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.concept') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @expense.concept %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.amount') %></strong></label>

                <div class="col-lg-9 details-data">
                  <span style="color:red;"><%= @expense.amount ? number_to_currency(@expense.amount) : nil %></span>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.fecha') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= l(@expense.fecha, :format => :long) if @expense.fecha %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.user') %></strong></label>

                <div class="col-lg-9 details-data">
                  <%= @expense.user.try(:name) %>
                </div>
              </div>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.status') %></strong></label>
                <div class="col-lg-9 details-data">
                  <%= @expense.i18n_status %>
                </div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.expense_attaches') %></strong></label>
                <div class="col-lg-9 details-data">
                  <% @expense.expense_attaches.each do |attach| %>
                      <p class="form-control-static">
                          <%= link_to attachment_url(attach, :file) do %>
                              <%= image_tag attachment_url(attach, :file, :fill, 100, 100) %>
                          <% end %>
                      </p>
                  <% end %>
                </div>
              </div>

          </div>
        </div>
      </div>
    </article>

    <!--
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-info"></i></span>
          <h2>Details</h2>
        </header>
        <div class="no-padding">
          <div class="widget-body">

          </div>
        </div>
      </div>
    </article>
    -->
  </div>
</section>

